<div class="container">
  <ng-container *ngIf="type === 'add'; else filterTemplate">
    <h1>{{ titleDialog }}</h1>
    <form [formGroup]="formAdd">
      <div class="row">
        <div class="col-12">
          <h4>Dados Pessoais</h4>
        </div>
        <div
          [class]="
            'col-xl-' +
            type.lenghtXl +
            ' ' +
            'col-md-' +
            type.lenghtMd +
            ' ' +
            'col-sm-12'
          "
          *ngFor="let type of typesForm"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ type.label }}</mat-label>
            <input matInput [formControlName]="type.formControlName" />
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row">
      <div
        [class]="'col d-flex justify-content-' + button.justify"
        *ngFor="let button of buttons"
      >
        <button
          mat-raised-button
          [color]="button.type"
          (click)="
            button.function === 'Cancelar' ? closeDialog() : addNewChristian()
          "
          [disabled]="button.function === 'Adicionar' && formAdd.invalid"
        >
          {{ button.function }}
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #filterTemplate>
    <div *ngIf="type !== 'view'; else viewTemplate">
      <h1>{{ titleFilter }}</h1>
      <div class="row" *ngIf="filters">
        <div class="col-12">
          <h4>Filtros Rápidos</h4>
        </div>
        <div
          class="col-xl-4 col-md-6 col-sm-6 d-flex justify-content-center quick-filters"
          *ngFor="let filter of filters"
        >
          <button
            [color]="appliedFilters[filter.id] === filter.name ? 'primary' : ''"
            mat-raised-button
            (click)="insertNewFilter(filter.id, filter.name)"
          >
            {{ filter.name }}
          </button>
        </div>
      </div>
      <div class="row" [style]="filters ? 'margin-top: 2rem' : ''">
        <form [formGroup]="formFilter">
          <div class="row">
            <div
              [class]="
                'col-xl-' +
                type.lenghtXl +
                ' ' +
                'col-md-' +
                type.lenghtMd +
                ' ' +
                'col-sm-' +
                type.lenghtSm +
                ' ' +
                'd-flex justify-content-center'
              "
              *ngFor="let type of typesFormFilter"
            >
              <mat-form-field
                appearance="fill"
                *ngIf="type.type === 'input'; else select"
              >
                <mat-label>{{ type.label }}</mat-label>
                <input matInput [formControlName]="type.formControlName" />
              </mat-form-field>

              <ng-template #select>
                <mat-form-field appearance="fill">
                  <mat-label>{{ type.label }}</mat-label>
                  <mat-select>
                    <mat-option
                      *ngFor="let item of type.select"
                      [value]="item.value"
                    >
                      {{ item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
      <div class="row" [style]="filters ? 'margin-top: 2rem' : ''">
        <div
          [class]="'col d-flex justify-content-' + button.justify"
          *ngFor="let button of buttons"
        >
          <button
            mat-raised-button
            [color]="button.type"
            (click)="
              button.function === 'Cancelar' ? closeDialog() : applyFilters()
            "
            [disabled]="button.function === 'Adicionar' && formAdd.invalid"
          >
            {{ button.function }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #viewTemplate>
    <h1>{{ titleView }}</h1>
    <div class="table-responsive" *ngIf="typeOfData === 'christian'">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th scope="col" *ngFor="let header of tableHeader">
              {{ header.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="number-user">{{ selectedItem.id }}</p>
            </td>
            <td>
              {{ selectedItem.name }}
            </td>
            <td>
              {{ selectedItem.phone }}
            </td>
            <td>
              {{ selectedItem.email }}
            </td>
            <td>
              {{ selectedItem.birthDate }}
            </td>
            <td>
              {{ selectedItem.city }}
            </td>
            <td>
              {{ selectedItem.street }}
            </td>
            <td>
              {{ selectedItem.number }}
            </td>
            <td>
              {{ selectedItem.district }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="typeOfData === 'church'">
      <table class="table table-hover">
        <thead class="thead">
          <tr>
            <th scope="col" *ngFor="let header of tableHeader">
              {{ header.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ selectedItem.name }}
            </td>

            <td>
              {{ selectedItem.phone }}
            </td>
            <td>
              {{ selectedItem.email }}
            </td>
            <td>
              {{ selectedItem.district }}
            </td>
            <td>
              {{ selectedItem.responsible }}
            </td>
            <td>
              {{ selectedItem.tithers }}
            </td>
            <td>
              {{ selectedItem.money | currency :"BRL":"symbol"}}
            </td>
            <td>
              {{ selectedItem.password }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      [class]="'col d-flex justify-content-' + button.justify"
      *ngFor="let button of buttons"
    >
      <button mat-raised-button (click)="closeDialog()">
        {{ button.function }}
      </button>
    </div>
  </ng-template>
</div>
