<div class="container">
    <h1>{{ titleDialog }}</h1>
    <form [formGroup]="formAdd">
        <div class="row">
            <div class="col-12">
                <h4>{{subTitle}}</h4>
            </div>
            <div [class]="
            'col-xl-' +
            type.lenghtXl +
            ' ' +
            'col-md-' +
            type.lenghtMd +
            ' ' +
            'col-sm-12'
          " *ngFor="let type of typesForm">
                <mat-form-field appearance="fill">
                    <mat-label>{{ type.label }}</mat-label>
                    <input matInput [formControlName]="type.formControlName" />
                </mat-form-field>
            </div>

        </div>
    </form>
    <div class="row">
        <div
          [class]="'col d-flex justify-content-' + button.justify"
          *ngFor="let button of buttons"
        >
          <button
            mat-raised-button
            [color]="button.type"
            (click)="
              button.function === 'Cancelar' ? closeDialog() : add()
            "
            [disabled]="button.function === 'Adicionar' && formAdd.invalid"
          >
            {{ button.function }}
          </button>
        </div>
      </div>

</div>