<div class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-3 d-flex justify-content-start align-items-center">
      <img src="../../../../assets/images/icons8-warning-48.png" />
    </div>
    <div class="col-9 d-flex justify-content-center align-items-center">
      <h3>
        Deseja realmente deletar , <strong>{{ selected.name }}</strong
        >?
      </h3>
    </div>
  </div>
  <div class="row" style="margin-top: 1rem">
    <div
      [class]="'col d-flex justify-content-' + button.justify"
      *ngFor="let button of buttons"
    >
      <button
        mat-raised-button
        [color]="button.type"
        (click)="button.function === 'Cancelar' ? closeDialog() : delete()"
      >
        {{ button.function }}
      </button>
    </div>
  </div>
</div>
