<app-header></app-header>
<div id="list" class="row">
  <div class="table-responsive">
    <app-page-header></app-page-header>
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th scope="col">Remetente</th>
          <th scope="col">Titulo</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuário-masculino-100.png"
            />João Lucas
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-rótulo-100.png"
            />
            Reunião
          </td>

          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-data-até-64.png"
            />28/02/2021 12:40
          </td>
          <td>
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <fa-icon [icon]="faMinusCircle"></fa-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
        <tr>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuário-masculino-100.png"
            />Josefa
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-rótulo-100.png"
            />
            Anúncio
          </td>

          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-data-até-64.png"
            />18/03/2021 08:12
          </td>
          <td>
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <fa-icon [icon]="faMinusCircle"></fa-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
        <tr>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuário-masculino-100.png"
            />Maria
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-rótulo-100.png"
            />
            Conta de Água
          </td>

          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-data-até-64.png"
            />15/03/2021 18:20
          </td>
          <td>
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <fa-icon [icon]="faMinusCircle"></fa-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
        <tr>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-usuário-masculino-100.png"
            />José
          </td>
          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-rótulo-100.png"
            />
            Conta de Luz
          </td>

          <td>
            <img
              class="img-30-30"
              src="../../assets/images/icons8-data-até-64.png"
            />01/03/2021 15:56
          </td>
          <td>
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <fa-icon [icon]="faEllipsis"></fa-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <fa-icon [icon]="faMinusCircle"></fa-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator></app-paginator>
  </div>
</div>
