<app-header></app-header>
<div id="list" class="row">
  <div class="table-responsive">
    <app-page-header [typesForm]="typesForm" [typesFormFilter]="typesFormFilter" [titleDialog]="title"
      [titleFilter]="titleFilter" [buttonsDialog]="buttonsDialog" [buttonsFilter]="buttonsFilter"
      [formAdd]="formNewMessage" [formFilter]="formFilter"></app-page-header>
    <table class="table table-hover">
      <thead class="thead">
        <tr>
          <th scope="col">Remetente</th>
          <th scope="col">Titulo</th>
          <th scope="col">Data/Hora</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of data" (click)="selectMessage(message)">
          <td>
            <img class="img-30-30" src="../../assets/images/icons8-usuário-masculino-100.png" />{{ message.sender }}
          </td>
          <td>
            <img class="img-30-30" src="../../assets/images/icons8-rótulo-100.png" />
            {{ message.title }}
          </td>

          <td>
            <img class="img-30-30" src="../../assets/images/icons8-data-até-64.png" />{{ message.dateHour }}
          </td>
          <td (click)="preventDefault($event)">
            <button class="btn" type="button" [matMenuTriggerFor]="menu">
              <mat-icon aria-hidden="false">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="delete(item)">
                <mat-icon aria-hidden="false">delete</mat-icon> Excluir
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator></app-paginator>
  </div>
</div>