<div id="menu">
  <h3 id="title">
    <strong>Church</strong><span style="opacity: 0.5">Manager</span>
  </h3>
  <div class="row" style="width: 100%; margin: auto">
    <div class="col-12 icons-menu" style="margin-top: 3rem">
      <button class="btn" id="dashboard">
        <img
          style="width: 26px; height: 26px"
          src="../../assets/images/icons8-dashboard-layout-48.png"
          alt=""
        />
      </button>
    </div>
    <div class="col-12 icons-menu">
      <button class="btn">
        <img
          style="width: 26px; height: 26px"
          src="../../assets/images/icons8-gráfico-combinado-50.png"
        />
      </button>
    </div>
    <div class="col-12 icons-menu">
      <button class="btn">
        <img
          style="width: 26px; height: 26px"
          src="../../assets/images/icons8-igreja-50.png"
        />
      </button>
    </div>
    <div class="col-12 icons-menu">
      <button class="btn">
        <img
          style="width: 26px; height: 26px"
          src="../../assets/images/icons8-configurações-50.png"
        />
      </button>
    </div>

    <div class="col-12" id="icon-account">
      <button class="btn">
        <img
          style="width: 35px; height: 35px"
          src="../../assets/images/icons8-conta-de-teste-160.png"
        />
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
