<div id="page-header" class="container">
  <div class="row" style="height: 2.5rem;">
    <div class="col-8 d-flex justify-content-end">
      <button mat-raised-button class="center-v" (click)="openDialogFilter()">
        Filtro
        <mat-icon aria-hidden="false">filter_list</mat-icon>
      </button>
    </div>

    <div *ngIf="isAdd" class="col-4 d-flex justify-content-start">
      <button color="primary" mat-raised-button (click)="openDialogNew()">
        <mat-icon aria-hidden="false">add</mat-icon> Novo
      </button>
    </div>
  </div>
</div>